:root {
  --neutral-grey: #ebf4f5;
  --primary: #b5c6e0;
  --secondary: #0050b6;
  --font: #121416;
  --accent: #c1a875;
  --shadow: rgba(18, 20, 23, 0.2);
}

* {
  box-sizing: border-box;
}

body,
html {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
  text-decoration: none;
  color: #121416;
}

body {
  height: 100vh;
  background: linear-gradient(145deg, var(--neutral-grey), var(--primary));
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  background-color: var(--neutral-grey);
  height: 80px;
  box-shadow: 0 1px 5px 1px var(--shadow);
}

#logo {
  font-family: "Times New Roman", Times, serif;
  letter-spacing: -2px;
  font-weight: 500;
  font-size: 2.5rem;
  color: var(--font);
}

.icon {
  width: 32px;
  height: auto;
  fill: var(--secondary);
}

.button:hover {
  background-color: #1165d3;
}

.button-icon svg:hover {
  fill: #1165d3;
  cursor: pointer;
}

.button:active,
.button-icon:active {
  translate: 1px 1px;
}

.button-text {
  background-color: var(--secondary);
  color: white;
  font-size: 1rem;
  font-family: inherit;
  font-weight: 500;
  padding: 1rem;
  border-radius: 50px;
  cursor: pointer;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  padding: 2rem;
  margin: 3rem auto;
  gap: 20px;
  max-width: 1000px;
  padding-top: 2rem;
  /* box-shadow: 1px 1px 2px 2px var(--shadow); */
  border: 1px solid rgb(195, 208, 226);
  border-radius: 12px;
  background-color: rgb(218, 224, 235);
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #ebf4f5;
  padding: 1rem;
  height: 150px;
  width: 300px;
  max-width: 300px;
  box-shadow: 1px 1px 1px 1px var(--shadow);
  border-radius: 12px;
}

.card:hover {
  box-shadow: 2px 2px 2px 2px var(--shadow);
}

.card div {
  line-height: 1.2;
}

.title {
  font-weight: 700;
}

.modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.3);
}

.modal-content {
  border-radius: 12px;
  display: flex;
  justify-content: center;
  background-color: var(--neutral-grey);
  margin: 4rem auto;
  padding: 3rem;
  width: fit-content;
  height: fit-content;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

input {
  line-height: 1.1;
  font-family: inherit;
  font-size: 1.25rem;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  border: 3px solid #b5c6e0;
  text-align: center;
}

input:focus {
  border: 3px solid #1165d3;
}

::placeholder {
  color: #cad4e0;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.checkbox-label {
  color: #81868d;
  font-size: 1rem;
  font-family: inherit;
  font-weight: 400;
}

.checkbox-input {
  appearance: none;
  -webkit-appearance: none;
  height: 2rem;
  width: 2rem;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox-input:checked {
  background-color: #cad4e0;
}

.checkbox-input:checked:after {
  display: block;
}

.checkbox-input:after {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 1.25rem;
  content: "\f00c";
  color: #1165d3;
  display: none;
}

.checkbox-input:hover {
  background-color: #b5c6e0;
}

.checkbox-input:focus {
  background-color: none;
  color: none;
}

.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: 3px solid #b5c6e0;
  border-radius: 2rem;
  font-family: inherit;
  padding: 0.5rem 1rem;
  background-color: white;
  width: 100%;
}
