:root {
  --neutral-grey: #ebf4f5;
  --primary: #b5c6e0;
  --secondary: ##0050b6;
  --font: #121416;
  --accent: #c1a875;
}

* {
  box-sizing: border-box;
}

body,
html {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
